<main>
    <section class="contenedor-campos ">


        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/costos-1024x683.jpg" alt="">
                </div>
                <a href="/listarcc">
                    <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar Centro de Costo">
                </a>
            </div>
        </div>

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/Nomina.png" alt="">
                </div>
                <a href="/listarPlanillas">
                    <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar planillas">
                </a>
            </div>
        </div>

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/trabajo.jpg" alt="">
                </div>
                <a href="/listar-trabajadores">
                    <input mat-raised-button color="primary" type="submit" class="btn1" value="Trabajador">
                </a>
            </div>
        </div>



    </section>
</main>