<p>home works!</p>

<p>Agregar vínculos para que se pueda navegar a la gestión de usuarios</p>
<main>
    <section class="contenedor-campos ">


        <div class="container">
            <a href="/listarcc">
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar Centro de Costo">
            </a>
        </div>

        <div class="container">
            <a href="/">
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar x">
            </a>
        </div>

        <div class="container">
            <a href="/">
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar x">
            </a>
        </div>

        <div class="container">
            <a href="/">
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar x">
            </a>
        </div>

        <div class="container">
            <a href="/">
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar x">
            </a>
        </div>

        <div class="container">
            <a href="/">
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Listar x">
            </a>
        </div>

    </section>
</main>